#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 768px) {
  section {
    padding: 1rem;
  }
}